In [2]:
# creating the DB

import sqlite3

# Connect to the database file in the same folder
conn = sqlite3.connect('Word_DB.sqlite')
cursor = conn.cursor()

# Create Table (if you need)
cursor.execute('''
CREATE TABLE IF NOT EXISTS Words (
    id INTEGER PRIMARY KEY,
    word TEXT NOT NULL UNIQUE,
    definition TEXT,
    example TEXT,
    fluency INTEGER DEFAULT 0,
    visited INTEGER DEFAULT 0,  -- 0 = False, 1 = True
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
''')

# example of output of french words AI could output: only 5
list = '[une, il, le, la, et]'[1:-1].split(",")
definition = "place holder"
example = "another place holder"
fluency = 0 
visited = 1 


def create_def():
    return 0 

def create_example():
    return 0

In [3]:
# Insert Data
for i in range(len(list)): 

    cursor.execute('''
INSERT INTO Words (word, definition, example, fluency, visited)
VALUES (?, ?, ?, ?, ?)
''', (list[i], definition, example, fluency, visited))
    conn.commit()

OperationalError: database is locked

In [4]:
# Read Data
cursor.execute('SELECT * FROM Words')
rows = cursor.fetchall()
print(rows)

conn.close()

[(1, 'une', 'place holder', 'another place holder', 0, 1, '2025-03-05 19:23:20'), (2, ' il', 'place holder', 'another place holder', 0, 1, '2025-03-05 19:23:20'), (3, ' le', 'place holder', 'another place holder', 0, 1, '2025-03-05 19:23:20'), (4, ' la', 'place holder', 'another place holder', 0, 1, '2025-03-05 19:23:20'), (5, ' et', 'place holder', 'another place holder', 0, 1, '2025-03-05 19:23:20'), (6, '\n', '--', '--', 0, 0, '2025-03-07 16:42:36')]

In [6]:
import pandas as pd
# Reconnect
conn = sqlite3.connect('Word_DB.sqlite')

# Read data into DataFrame
df = pd.read_sql('SELECT * FROM words', conn)
print(df)

conn.close()

    id word    definition               example  fluency  visited  \
0    1  une  place holder  another place holder        0        1
1    2   il  place holder  another place holder        0        1
2    3   le  place holder  another place holder        0        1
3    4   la  place holder  another place holder        0        1
4    5   et  place holder  another place holder        0        1
5    6   \n            --                    --        0        0
6    7    [            --                    --        0        0
7    8    l            --                    --        0        0
8    9    e            --                    --        0        0
9   10    ,            --                    --        0        0
10  11                 --                    --        0        0
11  12    a            --                    --        0        0
12  13    s            --                    --        0        0
13  14    u            --                    --        0        0
14  15    n            --                    --        0        0
15  16    c            --                    --        0        0
16  17    i            --                    --        0        0
17  18    q            --                    --        0        0
18  19    t            --                    --        0        0
19  20    r            --                    --        0        0
20  21    v            --                    --        0        0
21  22    g            --                    --        0        0
22  23    d            --                    --        0        0
23  24    x            --                    --        0        0
24  25    h            --                    --        0        0
25  26    p            --                    --        0        0
26  27    o            --                    --        0        0
27  28    z            --                    --        0        0
28  29    -            --                    --        0        0
29  30    f            --                    --        0        0
30  31    m            --                    --        0        0
31  32    ]            --                    --        0        0

             created_at
0   2025-03-05 19:23:20
1   2025-03-05 19:23:20
2   2025-03-05 19:23:20
3   2025-03-05 19:23:20
4   2025-03-05 19:23:20
5   2025-03-07 16:42:36
6   2025-03-07 16:54:04
7   2025-03-07 16:54:04
8   2025-03-07 16:54:04
9   2025-03-07 16:54:04
10  2025-03-07 16:54:04
11  2025-03-07 16:54:04
12  2025-03-07 16:54:04
13  2025-03-07 16:54:04
14  2025-03-07 16:54:04
15  2025-03-07 16:54:04
16  2025-03-07 16:54:04
17  2025-03-07 16:54:04
18  2025-03-07 16:54:04
19  2025-03-07 16:54:04
20  2025-03-07 16:54:04
21  2025-03-07 16:54:04
22  2025-03-07 16:54:04
23  2025-03-07 16:54:04
24  2025-03-07 16:54:04
25  2025-03-07 16:54:04
26  2025-03-07 16:54:04
27  2025-03-07 16:54:04
28  2025-03-07 16:54:04
29  2025-03-07 16:54:04
30  2025-03-07 16:54:04
31  2025-03-07 16:54:04